* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

header {
    background-color: black;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    border-bottom: 2px solid #fd7302;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

footer {
    background-color: white;
    height: 150px;
    margin: 0 auto;
    color: black;
    border-top: 2px solid #fd7302;
    padding-top: 20px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    padding: 20px;
    background-color: #fd7302;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: 10px;
}

h3 {
    background-color: #fd7302;
    color: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-left: 10px;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;

}

.menu {
    text-transform: uppercase;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fd7302;
    margin: 15px;
    list-style: none;
    text-decoration: none;
}

.menu a {
    text-decoration: none;
}

.menu ul {
    text-transform: uppercase;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fd7302;
    margin: 15px;
    list-style: none;
    text-decoration: none;
}

.menu li {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

#banner {
    padding: 10vmin;
    padding-left: 0;
    padding-right: 0;
    background-color: black;
    text-align: center;
}
#banner img{
    max-height: 750px;
    max-width: 100%;
}

#sobre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10vmin;
    height: 100%;
}

#sobre img {
    max-height: 750px;
    max-width: 100%;
    padding: 10vmin;
    padding-top: 0;
}

#sobre li {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
        list-style: none;
        padding-left: 10px;
}

.texto_sobre {
    max-height: 750px;
    max-width: 600px;
    height: 100%;
}

#especialistas {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row-reverse;
    justify-content: center;
    background-color: black;
    color: white;
    height: 100%;
}

#especialistas img {
    max-height: 750px;
    max-width: 100%;
    padding: 10vmin;

}

.texto_especialista {
    max-height: 100%;
    max-width: 600px;
    margin-top: 10vmin;
    margin-bottom: 10vmin;
}

#treinos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10vmin;
    height: 100%;
}

#treinos img {
    max-height: 750px;
    max-width: 100%;
    padding: 10vmin;
    padding-top: 0;
}

.texto_treinos {
    max-height: 750px;
    max-width: 600px;
    height: 100%;
}

#planos {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row-reverse;
    justify-content: center;
    background-color: black;
    color: white;
    height: 100%;
}

#planos img {
    max-height: 750px;
    max-width: 100%;
    padding: 10vmin;
}

.texto_planos {
    max-height: 100%;
    max-width: 600px;
    margin-top: 10vmin;
    margin-bottom: 10vmin;
}

#local {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10vmin;
    height: 100%;
}

#local iframe {
    max-height: 750px;
    max-width: 100%;
    padding: 10vmin;
    padding-top: 0;
}

.texto_local {
    max-height: 100%;
    max-width: 600px;
}

#contato {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row-reverse;
    justify-content: center;
    background-color: black;
    color: white;
    height: 100%;
}

#contato img {
    max-height: 750px;
    max-width: 100%;
    padding: 10vmin;
}

.texto_contato {
    max-height: 100%;
    max-width: 600px;
    margin-top: 10vmin;
    margin-bottom: 10vmin;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-bottom: -60px;
}

footer h2 {
    color: black;
}
footer a {
    color: black;
    display: inline-block;
}

footer li {
    list-style: none;
}

.copy {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    padding-top: 50px;
    clear: both;
}

