* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    border-bottom: 2px solid #fd7302;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

header img {
    margin-top: 5px;
}

footer {
    background-color: white;
    height: 150px;
    margin: 0 auto;
    color: black;
    border-top: 2px solid #fd7302;
    padding-top: 20px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.seta {
    top: 90%;
    margin-left: 87%;
    position: sticky;
    cursor: pointer;
    opacity: 0.6;
    border-radius: 2px;
}

h1 {
    padding: 13px;
    background-color: #fd7302;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: 10px;
}

h3 {
    background-color: #fd7302;
    color: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-left: 10px;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding-left: 10px;
    padding-right: 20px;
}

.img {
    max-height: 750px;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.texto {
    max-height: 750px;
    max-width: 600px;
    height: 100%;
}

.menu {
    text-transform: uppercase;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fd7302;
    margin: 15px;
    list-style: none;
    text-decoration: none;
}

.menu a {
    text-decoration: none;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;}

.menu ul {
    text-transform: uppercase;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fd7302;
    margin: 15px;
    list-style: none;
    text-decoration: none;
}

.menu li {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid white;
}
.menu li:hover {
    color: black;
    border-bottom: 2px solid black;
}

#banner {
    padding: 3vmin;
    padding-left: 0;
    padding-right: 0;
    background-color: black;
    text-align: center;
}
#banner img{
    max-height: 750px;
    max-width: 100%;
}

#sobre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    padding: 8vmin;
}

#sobre li {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
        list-style: none;
        padding-left: 10px;
}

#sobre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    padding: 8vmin;
    padding-bottom: 2vmin;
}

#mestres {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row-reverse;
    justify-content: center;
    background-color: black;
    color: white;
    height: 100%;
    padding: 8vmin;
}

#treinos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    padding: 8vmin;
}

#planos {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row-reverse;
    justify-content: center;
    background-color: black;
    color: white;
    height: 100%;
    padding: 8vmin;
}

#local {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    padding: 8vmin;
}

#contato {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row-reverse;
    justify-content: center;
    background-color: black;
    color: white;
    height: 100%;
    padding: 8vmin;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-bottom: -60px;
}

footer h2 {
    color: black;
}
footer a {
    color: black;
    display: inline-block;
}

footer li {
    list-style: none;
}

.copy {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    padding-top: 60px;
    clear: both;
}